<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Por Pais</h2>
    <hr>
    
    <div class="row">
        <div class="col">
         <app-country-input (onEnter)="search( $event )" (onDebounce)="suggestions( $event )" [placeholder]="'Buscar por Capital...'"></app-country-input>
        </div>
    
    </div>
    
    <hr>
    <div *ngIf="errorExist else showTable" class="alert alert-danger">
        no se encontro nada con el termino {{ term }}...
    </div>
    
</div>

<ng-template #showTable>
    <div *ngIf="countries.length > 0" class="row">

        <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
        </div>

    </div>
</ng-template>